*.[oa]
*~
.DS_Store
.Rhistory
*.Rproj
.Rproj.user
.RData
.Ruserdata
*.log
*.csv
*/flag/*
!*/flag/.gitkeep
*/missing/*
!*/missing/.gitkeep
*/sfwmd/*
!*/sfwmd/.gitkeep
*/usgs/*
!*/usgs/.gitkeep
*/enp/*
!*/enp/.gitkeep
*/nps/*
!*/nps/.gitkeep
*/images/*
!*/images/.gitkeep
*/input/*
!*/input/.gitkeep
!*/input/*.csv
!*/input/*.txt
*/output/*
!*/output/.gitkeep
*/reports/*
!*/reports/.gitkeep
*surfaces/*
!*surfaces/.gitkeep
*/surfaces/*
!*/surfaces/.gitkeep
*/depth_contours/*
!*/depth_contours/.gitkeep
*/surf_edendb_graphs/*
!*/surf_edendb_graphs/.gitkeep
*/surf_edendb_thumbs/*
!*/surf_edendb_thumbs/.gitkeep
*/wl_contours/*
!*/wl_contours/.gitkeep
*/csi/*
!*/csi/.gitkeep
*/duration_hydrographs/*
!*/duration_hydrographs/.gitkeep
*/et/*
!*/et/.gitkeep
*/rainfall/*
!*/rainfall/.gitkeep
*/table/*
!*/table/.gitkeep
data_uv*
admin_pwd.R
usr_pwd.R
